.objectives{
	font-size: 27px;
	color: white;
	letter-spacing: 4px;
	text-align: justify;
	padding: 30px 80px;
	font-style: italic;
}
#h-home{
	font-size: 45px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}