*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../images/03-bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Condensed:400,700');
.navbar-logo>img{
	height: 30px;
    width: auto;
}
.navbar-custom ul li a{
	font-family: 'Roboto Condensed', sans-serif;
}
.navbar-custom{
	background-color: rgba(255, 249, 229,0.0) !important;
}
.navbar-custom.scrolled{
	background-color: #343434 !important;
}
.nav-link{
	color:#ffe51b !important;
}
/*sections*/
.landing-page{
}

.banner-text{
	color: #e2f9fd;
	font-size: 54px;
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
}
.banner a{
	display: block;
}
.banner-text > strong{
	color: #ffe51b;
}
.block{
	margin-bottom: 15px;
}

.bottom-overlay{
	bottom: 0;
    padding: 15px;
}

.btnLink{
	color: #e2f9fd;
}

.btn-holder{
	width: 100%;
	margin:15px auto;
	text-align: left;
}

.btn-form{
	min-width:150px;
	padding: 8px;
}

.btn-banner{
	border-radius: 0;
	letter-spacing: 1px;
	font-size: 18px;
	color: #ffffff !important;
	background: #0e0e0e;
	border: solid 1px rgba(255, 229, 27, 0.8);
	font-family: 'Roboto Condensed', sans-serif;
}
.free-container{
	position: absolute;
    width: 100%;
}
.page-title{
	font-weight: 700;
	text-align: center;
	font-size: 54px;
	margin-bottom: 15px;
	padding: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

.page-subtitle {
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.parent-class{
	position: relative!important;
}

.text-invert{
	color: #e2f9fd!important;
}

.text-quote{
	font-size: 24px;
}

/*FOOTER*/
.footer-container{
	position: absolute;
	margin-bottom: 0;
	width: 100%;
	background: #1a1d23;
	padding:40px 20px;
}
.multi-list-footer-links{
	display: block;
	text-align: center;
}
.multi-list-footer-links>li{
	display: inline-block;
		max-width: 100%;
}
.multi-list-footer-links>li:not(last-child){
	vertical-align: top;
	width:230px;
}
.multi-list-footer-links>li:last-child{
	vertical-align: bottom;
	width:auto;
}
.list-footer-links > li{
	text-align: left;
}
.list-footer-links > li > a,.list-footer-links > li > p{
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5;
	color:#eaeaea;
}

.image-logo-footer{
	display:block;
	margin: 20px auto;
	width:128px;
	height: auto;
}
.copyright-container > *{
	text-align: center;
	color: #eaeaea;
	line-height: 1.5;
	font-family:'Open Sans', sans-serif;
	font-size: 14px;
}
.seprator-light-01{
	border-top:1px solid rgba(221, 221, 221, 0.2);
}
.social-media{
	padding: 0;
}
.social-media > li{
	display: inline-block;
}
.social-media > li > .fa{
	color:#e7e7e7;
	font-size: 22px;
	width: 30px;
	height:30px;
}
.landing-page{
	min-height: 728px;
	padding-top: 270px;
}
.bottom-landing-page{
	height: 100%;
	margin: auto;
	background: rgba(26, 29, 35,0.9);
	padding: 130px 80px;
}
.about-page{
	padding: 0;
	height: 100%;
}
.partners-page{
	height: 100%;
	background: rgba(156, 79, 79, 0.3);
	padding: 40px;
	margin-bottom: 0px !important;
}
.product-page{
	height: 100%;
	background: #ffffff;
	/* padding: 120px; */
}

.contact-page{
	margin-top: 40px;
	margin-bottom: 40px;
	height: 100%;
	background: rgba(255, 255, 255);
	padding: 50px;
}

/*landing page*/
.landing-page .btnLink{text-align: left;font-size: 26px;font-family: 'Roboto Condensed', sans-serif;display: inline-block;color: #c0c0c0;text-transform: uppercase;text-shadow: 1px 1px 4px #000;}

/*about*/

.about-page>.block{
	margin-bottom: 0;
}
.employee-name{
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 0;
}
.employee-title{
	display: block;
	margin-bottom: 15px;
	font-weight: 700;
}
.employee-desc{
	font-size: 13px;
    font-style: italic;
}

.mission-holder{
	padding: 80px;
    background: #ffe98c;
}

.policy-holder{
	padding: 80px;
    background: rgb(255, 227, 111);
}

.team-holder{
	/*background: #fff6d1;*/
	padding: 40px;
	height: 550px;
}
.navbar-brand{
	margin-left: 80px;
}
.navbar-nav{
	margin-right: 80px;
}

.img-avatar{
	width: 225px;
	max-width:100%;
}

.item-center{
	padding-top: 40px;
}

#test-image{
	width: 400px;
	height: 250px;
	margin-bottom: 5px;
}
#test-image-2{
	width: 600px;
	height: 600px;
	margin-bottom: 5px;
}
#test-image-3{
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
}
#test-image-4{
	padding: 10px;
	width: 500px;
	height: 500px;
	margin-bottom: 5px;
}

#blog-image {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.blog-image-content {
  position: relative;
  margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prevImage,
.nextImage {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextImage {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevImage:hover,
.nextImage:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowImage:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnImage {
  float: left;
  width: 11.11%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


#blog-image2 {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.blog-image-content2 {
  position: relative;
  margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor2 {
  cursor: pointer;
}

/* Next & previous buttons */
.prevImage2,
.nextImage2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextImage2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevImage2:hover,
.nextImage2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container2 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowImage2:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnImage2 {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo2 {
  opacity: 0.6;
}

.active2,
.demo2:hover {
  opacity: 1;
}


#blog-image3 {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.blog-image-content3 {
  position: relative;
  margin-bottom: 20px;
}

/* Hide the images by default */
.mySlides3 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor3 {
  cursor: pointer;
}

/* Next & previous buttons */
.prevImage3,
.nextImage3 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextImage3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevImage3:hover,
.nextImage3:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext3 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container3 {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.rowImage3:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnImage3 {
  float: left;
  width: 14.28%;
}

/* Add a transparency effect for thumnbail images */
.demo3 {
  opacity: 0.6;
}

.active3,
.demo3:hover {
  opacity: 1;
}

#image-align{
	height: 50px;
}

/*for responsive*/
@media only screen and (max-width: 991px){
	.mission-holder,.policy-holder{
		padding: 40px;
	}
}
@media only screen and (max-width: 767px){
	.mission-holder,.policy-holder{
		padding: 30px;
		display: block;
	}
	.text-quote{
		font-size: 12px;
	}
	.sample .img-fluid{
		display: block;
		margin: 0 auto;
	}
	.product-title {
	    text-align: center;
	}
	#blog-title{
    font-size: 20px;
	}
	.blog-sub-title{
	font-size: 18px;	
	}
}
.cwh{
	width: 600px !important;
	height: 200px;
}
.site-container > *{
	text-align: center;
	color: #eaeaea;
	line-height: 1.5;
	font-family:'Open Sans', sans-serif;
	font-size: 34px;
}